{% extends "base.html" %}

{% block script %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/achiv.css') }}">
{% endblock %}


{% block navbar %}
  <a href="/rating">rating</a>
  <a href="/history">matches</a>
  <a class="active" href="/achievements">achievements</a>
  <a href="/download">download</a>
  <a href="/help">help</a>
{% endblock %}

{% block content %}
<h1 class="flex-parent jc-center">Achievements</h1>
<h2 class="flex-parent jc-center">Here is your achievements</h2>
<div class="flex-parent jc-center">
    <div class="wrapper" style="width: 80%">
       {% for achiv in data %}
        {% if achiv.status %}
            <div><img src="{{achiv.activ_src}}" style="width: 300px; height: 300px; align: center;">
        {% else %}
                <div><img src="{{achiv.inactiv_src}}" style="width: 300px; height: 300px; align: center;">
        {% endif %}
           <h4>{{achiv.name}}</h4>
           <h5>{{achiv.info}}</h5>
         </div>
       </div>
       {% endfor %}
    </div>
</div>
{% endblock %}