<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{DinoStats}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    {% block script %}{% endblock %}
    <style>@font-face {
    font-family: "CustomFredoka";
    src: url({{url_for('static', filename='fonts/FredokaOne-Regular.ttf')}});
    }
    * {
      font-family: 'CustomFredoka';
    }
</style><!-- fonts -->
</head>
<body>
<div class="topnav">
  <a class="navbar-brand" href="/">
      <div class="logo-image">
            <img src="{{url_for('static', filename='img/logo.csv')}}" width="179" height="40">
      </div>
  </a>
  {% block navbar %}{% endblock %}
  <div class="search-container">
    <form action="" method="post" class="">
        {{ form.hidden_tag() }}
        <p>{{ form.search }}<button><i class="fa fa-search"></i>{{ form.submit() }}</button></p>
    </form>
  </div>
</div>
{% block content %}{% endblock %}
</body>
</html>
