{% extends "base.html" %}

{% block script %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}">
<style>
  .my_table{width:80%;margin-bottom:1rem;color:#212529}
</style>
{% endblock %}


{% block navbar %}
  <a href="/rating">rating</a>
  <a class="active" href="/history">matches</a>
  <a href="/achievements">achievements</a>
{% endblock %}

{% block content %}
<div class="flex-parent jc-center">
    <h1>Match history</h1>
</div>
<div class="flex-parent jc-center">
    <h2>Here is your recent matches</h2>
</div>
<div class="flex-parent jc-center">
<table class="my_table table-bordered table-sm" width="50%">
    <thead>
       <tr>
         <th style="width:5%">Match ID</th>
         <th style="width:12%">Date(GMT)</th>
         <th style="width:22%">Enemy</th>
         <th style="width:15%">Result</th>
         <th style="width:5%">K/D</th>
         <th style="width:5%">Accuracy</th>
         <th style="width:5%">ElO</th>
      </tr>
    </thead>
    <tbody>
    {% for match in data.matches %}
        {% if match.elo > 0 %}
    <tr class="alert-success">
    {% elif match.elo < 0 %}
    <tr class="alert alert-danger">
    {% else %}
    <tr style="background-color: rgba(0,0,0,.05);">
    {% endif %}
        <td>{{ match.id }}</td>
        <td>{{ match.date }}</td>
        <td>{{ match.enemy }}</td>
        <td>{{ match.result }}</td>
        <td>{{ match.kd }}</td>
        <td>{{ match.accuracy }}</td>
        <td>{{ match.elo }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
