{% extends "base.html" %}

{% block script %}
      <style>
        html, body{
          width: 100%; height: 100%;
        }
      </style>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

       var data = new google.visualization.DataTable();
      data.addColumn('number', 'ID');
      data.addColumn('number', "K/D");
      data.addColumn('number', "Accuracy(%)");

      data.addRows({{ data }});

      var options = {
         series: {
          0: {targetAxisIndex: 0},
          1: {targetAxisIndex: 1}
        },
        vAxes: {
          // Adds titles to each axis.
          0: {title: 'K/D'},
          1: {title: 'Accuracy(%)'}
        },
      };

      var chart = new google.charts.Line(document.getElementById('chart_div'));

      chart.draw(data, google.charts.Line.convertOptions(options));
    }
    </script>
{% endblock %}

{% block navbar %}
  <a href="/rating">rating</a>
  <a href="/history">matches</a>
  <a href="/achievements">achievements</a>
  <a href="/download">download</a>
  <a href="/help">help</a>
{% endblock %}

{% block content %}
<h1>Your 5 recent matches statistics:</h1>
<div id="chart_div" style="width: 80%; height: 80%;"></div>
{% endblock %}
