{% extends "base.html" %}

{% block script %}
<style>.flex-parent {
  display: flex;
}

.jc-center {
  justify-content: center;
}
h1{font-size: 150px;}
th, td{font-size: 30px;}
h5{font-size: 35px; color: 	#708090;}
</style>
{% endblock %}


{% block navbar %}
  <a class="active" href="/rating">rating</a>
  <a href="/download">download</a>
  <a href="/achievements">achievements</a>
  <a href="/history">matches</a>
  <a href="/tournaments">tournaments</a>
{% endblock %}

{% block content %}
<div class="flex-parent jc-center">
    <h1>World Ranking</h1>
</div>
<div class="flex-parent jc-center">
    <h5>Here we gather for you a list of the best players in the world</h5>
</div>
<div class="flex-parent jc-center">
<table class="table table-striped table-bordered table-sm" width="50%">
    <thead>
       <tr>
         <th style="width:2%">#</th>
         <th>Nickname</th>
         <th style="width:17%">Matches played</th>
         <th style="width:22%">Rank(elo)</th>
      </tr>
    </thead>
    <tbody>
    {% for user in data.users %}
        {% if user.me %}
    <tr class="alert alert-danger">
    {% else %}
    <tr>
    {% endif %}
        <td>{{ user.world_ranking }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.matches_played }}</td>
        <td><img src="{{user.path}}" width="100"
    height="100">{{ user.rank }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>
{% endblock %}
