<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DinoStats</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/SIteLogo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flex.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/welcome.css')}}">
    <style>
    @font-face {
    font-family: "CustomFredoka";
    src: url({{url_for('static', filename='fonts/FredokaOne-Regular.ttf')}});
    }
    @font-face {
    font-family: "LightFredoka";
    src: url({{url_for('static', filename='fonts/Light-Fredoka.ttf')}});
    }
    h1, h2 {
      font-family: 'LightFredoka';
    }
    a {
      font-family: 'CustomFredoka';
    }
</style><!-- fonts -->
</head>
<body class="color-change-5x">
      <h1 class="flex-parent jc-center">Dinostats</h1>
      <h2 class="flex-parent jc-center">Track your Dinomight statistics</h2>
        <div class="flex-parent jc-center">
      <a class="animated-white-button" href="/login">Login</a>
            </div>
    <div class="flex-parent jc-center">
      <a class="animated-white-button" href="/register">Registration</a>
</div>
</body>
</html>
